@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

/* MOBILE-FRIENDLY STYLING */

:root {
    --darkgrey: #151515;
    --yellow: #F3E600;

    --starwhite: #f4f5f7;
    --starmaroon: #c72138;
    --starorange: #e06236;
    --stargold: #d7a64b;

    --cybercream: #e7dcc6;
    --cybercreamdark: #aba392;
    --cyberorange: #d7a64b;
    --cyberblue: #00b8ff;
    --cyberred: #e29869;

/* font styles: Rajdhani */
    --light: 300;
    --regular: 400;
    --medium: 500;
    --semibold: 600;
    --bold: 700;

}

html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: var(--cybercream);
}

body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    box-shadow: inset 0 0 10em 1em var(--cybercreamdark); /* Customize the shadow color and size */
}

.primary-text {
    color: black;
    font-family: 'Rajdhani', sans-serif;
    font-weight: var(--bold);
}

.large-text {
    font-family: 'Rajdhani', sans-serif;
    font-weight: var(--bold);
    font-size: 1.75em;
}

.bold {
    font-weight: var(--bold);
}

.large-logo {
    max-width: 200px;
    max-height: 200px;
}

/* navigation */

header {
    text-align: center;
    width: 100%;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

.logo a {
    text-decoration: none;
    color: black;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 700;
    font-size: 1.75rem;
}

nav {
    text-align: center;
    display: flex;
    flex-direction: column;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav a {
    color: black;
    text-decoration: none;
    font-family: 'Rajdhani', sans-serif;
    font-weight: var(--bold);
    font-size: 1.2rem;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: transparent;
    border: none;
    color: black;
    font-size: 1.2rem;
    font-family: 'Rajdhani', sans-serif;
    font-weight: var(--bold);
    text-align: center;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 120px;
    z-index: 1;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    padding-left: 10%;
    padding-right: 10%;
}

.dropdown-content a {
    color: black;
    text-decoration: none;
    display: block;
    font-size: x-large;
    padding-top: 8px;
    padding-bottom: 8px;
}

/* Home page */

#home-intro {
    width: 100%;
}

#home-text {
    padding-top: 20%;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
    font-size: 24px;
}

.contact-inner {
    text-align: center;

}

.contact-inner p {
    font-size: 30px;
    margin: 0;
}

.linkedin {
    border: 2px solid black;
    background: none;
    padding-left: 20px;
    padding-right: 20px;
    font-style: "Rajdhani", sans-serif;
    text-decoration: none;
    color: black;
}

/* ASSIGNMENTS STYLING */

.class-container {
    display: inline-block;
    width: 100%;
    margin-top: 50%;
}

.class-title {
    text-align: center;
    color: black;
    font-size: 2em;
}

.assignment-dropbtn {
    width: 100%;
    height: 50px;
    text-align: left;
    background-color: transparent;
    border: 2px solid black;
    cursor: pointer;
}

.assignment-dropbtn:hover {
    text-decoration: underline;
    background-color: var(--cyberorange);
}

.assignment-dropbtn svg {
    padding-top: 7px;
    float: right;
}

.assignment-container {
    width: 100%;
    display: none;
}

.assignment-container ul {
    list-style-type: none;
    padding: 0;
    margin-left: 7px;
    margin-right: 7px;
}

.assignment-title {
    color: black;
    background-color: var(--cyberorange);
}

.assignment-body {
    font-size: 24px;
    font-weight: 600;
}

.assignment-container img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 75%;
    height: 25%;
    border: 1px solid white;
}

#bottom-assignment-container {
    margin-bottom: 0;
    ul {
        margin-bottom: 0;
    }
    p {
        margin-bottom: 0;
        padding-bottom: 2%;
    }
}

#paper-dropdown {
    margin-bottom: 0;
    ul {
        margin-bottom: 0;
    }
    p {
        margin-bottom: 0;
        padding-bottom: 2%;
    }
}

/* About Me page */

#about-me-pic-wrapper {
    width: 100%;
    text-align: center;
    padding-top: 30%;
}

#about-me-pic {
    width: 200px;
    height: 175px;
    background-color: black;
    border: 1px solid white;
    box-shadow: 10px 10px black;
    outline: 2px solid black;
    color: white;
}

#about-me-text-wrapper {
    width: 100%;
    text-align: center;
}

#about-me-text {
    margin-bottom: 0;
    font-weight: 600;
    font-size: 20px;
    font-style: italic;
    padding-left: 5%;
    padding-right: 5%;
}

/* Resume page */

#resume-education {
    margin-top: 50%;
}

.resume-primary-container {
    display: grid;
    grid-template-columns: 100%;
}

.resume-primary-container ul {
    list-style: none;
    padding-left: 10px;
}

.resume-primary-container p {
    margin: 0;
    padding: 0;
}

.resume-primary-container a {
    color: black;
}

.resume-secondary-container {
    display: grid;
    grid-template-columns: 1fr;
}

.resume-secondary-container ul {
    list-style: none;
    padding-left: 10px;
}

.resume-secondary-container p {
    margin: 0;
    padding: 0;
}

.resume-heading {
    margin: 0;
    padding-left: 5px;
    font-size: 2em;
    color: black;
    background-color: var(--cyberorange);
}

.resume-sub-heading {
    margin-bottom: 5px;
}

.list-item {
    list-style: url('images/arrow.png');
    margin-left: 30px;
    margin-right: 20px;
    p {
        font-size: 24px;
    }
}

.wide-img {
    width: 150px;
    height: 100px;
    display: none;
}

.badge-img {
    width: 100px;
    height: 100px;
    display: none;
}

#ncl-cert {
    width: 150px;
    height: 100px;
    display: none;
}

#resume-bottom-container ul {
    margin-bottom: 0;
}

/* DESKTOP-FRIENDLY STYLING */

@media screen and (min-width: 900px) {

    html {
        height: 100%;
        width: 100%;
    }

    body {
        margin: 0;
        min-height: 100%;
        width: 100%;
    }

    /* Navbar */
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .logo {
        padding: 1em;
    }

    .logo a {
        border: 2px solid black;
        padding-left: 10px;
        padding-right: 10px;
    }

    .logo a:hover {
        background-color: black;
        border: 1px solid white;
        box-shadow: 10px 10px 0 black;
        padding-left: 10px;
        padding-right: 10px;
        outline: 2px solid black;
        color: white;
    }

    nav {
        display: flex;
        align-items: center;
        padding-top: 1em;
    }

    nav ul {
        display: flex;
    }

    nav li {
        margin-left: 3em;
        margin-right: 2em;
        margin-bottom: 0;
    }

    .navbarListItem {
        border: 2px solid black;
        padding-left: 10px;
        padding-right: 10px;
    }

    .navbarListItem:hover {
        background-color: black;
        border: 1px solid white;
        box-shadow: 10px 10px 0 black;
        padding-left: 10px;
        padding-right: 10px;
        outline: 2px solid black;
        a {
            color: white;
        }
    }
    
    .dropbtn {
        border: 2px solid black;
        padding-left: 10px;
        padding-right: 10px;
    }

    .dropbtn:hover {
        background-color: black;
        border: 1px solid white;
        box-shadow: 10px 10px 0 black;
        padding-left: 10px;
        padding-right: 10px;
        outline: 2px solid black;
        color: white;
    }

    .dropdown-content {
        padding: 0;
        margin-left: 13%;
    }

    .dropdown-content a:hover {
        background-color: black;
        border: 1px solid white;
        box-shadow: 10px 10px 0 black;
        color: white;
    }

    #home-intro {
        width: 100%;
    }

    #home-text {
        margin-top: 10%;
        margin-left: 25%;
        margin-right: 25%;
        margin-bottom: 0;
        padding: 10px;
        border: solid black 2px;
        font-size: 28px;
    }

    .contact-container {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .contact-inner {
        width: min-content;
        padding: 10px;
        border-left: 2px solid black;
        border-right: 2px solid black;
        border-bottom: 2px solid black;
    }

    .linkedin:hover {
        background-color: black;
        border: 1px solid white;
        box-shadow: 10px 10px 0 black;
        padding-left: 10px;
        padding-right: 10px;
        outline: 2px solid black;
        color: white;
    }

    .class-container {
        margin-top: 5%;
    }

    .class-title {
        font-size: 4em;
    }

    .assignment-dropbtn {
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
    }

    .assignment-container ul {
        margin-left: 21px;
        margin-right: 21px;
    }

    /* Resume page */
    .resume-heading {
        margin: 0;
        font-size: 2.5em;
        padding-left: 0.5%;
        padding-top: 1%;
    }

    .resume-sub-heading {
        font-size: 2em;
        div {
            padding-left: 5px;
            padding-right: 5px;
            width: fit-content;
            border: 2px solid black;
        }
    }

    #resume-education {
        margin-top: 2%;
    }

    .resume-primary-container {
        grid-template-columns: 50% 50%;
        align-items: center;
        place-items: center;
        padding-top: 1%;
        padding-left: 2%;
        margin-bottom: 2%;
    }

    .resume-primary-container ul {
        margin: 0;
        width: 100%;
    }

    .resume-secondary-container {
        margin: 0;
        padding-top: 1%;
        padding-left: 2%;
        margin-bottom: 2%;
    }

    .resume-secondary-container ul {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    #resume-bottom-container {
        margin-bottom: 0;
    }

    .wide-img {
        width: 250px;
        height: 100px;
        display: inherit;
    }

    .badge-img {
        width: 150px;
        height: 150px;
        display: inherit;
    }

    #ncl-cert {
        width: 300px;
        height: 200px;
        display: inherit;
    }

    .list-item {
        margin-left: 75px;
    }

    .list-item-wrapper {
        border: 2px solid black;
    }

    /* About page */

    #about-me-pic-wrapper {
        padding-top: 5%;
    }

    #about-me-pic {
        width: 300px;
        height: 275px;
    }

    #about-me-text {
        font-size: 22px;
        padding-left: 20%;
        padding-right: 20%;
    }
}

.show {
    display: block;
}