@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
    --darkgrey: #151515;
    --yellow: #F3E600;
    --bold: 900;
}



html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: var(--darkgrey);
}

.primary-text {
    color: white;
    font-family: 'Inter', sans-serif;
}

.large-text {
    font-family: 'Inter', sans-serif;
    font-weight: var(--bold);
    font-size: 1.5em;
}

.bold {
    font-weight: var(--bold);
}

.large-logo {
    max-width: 200px;
    max-height: 200px;
}

/* navigation */

header {
    text-align: center;
    width: 100%;
    height: 5%;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em;
}

.logo a {
    text-decoration: none;
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
}

.logo a:hover {
    text-decoration: underline;
}

nav {
    text-align: center;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: relative;
}

nav li {
    margin-bottom: 1em;
    margin-left: 1em;
}

nav a {
    color: white;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
}

nav a:hover {
    text-decoration: underline;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: var(--darkgrey);
    border: none;
    color: white;
    font-size: 1.2rem;
    font-family: 'Inter', sans-serif;
    text-align: center;
    cursor: pointer;
}

.dropbtn:hover {
    text-decoration: underline;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 120px;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 8px 8px;
    text-decoration: none;
    display: block;
}

/* Home page */

#home-intro {
    width: 100%;
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#home-text {
    margin: 30px;
    text-align: center;
}

#home-logo {
    text-align: center;
}


.contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20%;
}

.contact-container p {
    border-bottom: white 1px solid;
}

.contact-container a {
    opacity: 75%;
}

.contact-container a:hover {
    opacity: 100%;
}

/* ASSIGNMENTS STYLING */

.class-container {
    display: inline-block;
    width: 100%;
    margin-top: 50%;
}

.class-title {
    text-align: center;
    color: white;
    font-size: 2em;
}

.assignment-dropbtn {
    width: 100%;
    height: 50px;
    text-align: left;
    background-color: white;
    color: var(--darkgrey);
    border: 1px solid var(--darkgrey);
    cursor: pointer;
}

.assignment-dropbtn:hover {
    text-decoration: underline;
    background-color: var(--yellow);
}

.assignment-dropbtn svg {
    padding-top: 7px;
    float: right;
}

.assignment-container {
    width: 100%;
    display: none;
}

.assignment-container ul {
    list-style-type: none;
    padding: 0;
    margin-left: 7px;
    margin-right: 7px;
}

.assignment-title {
    color: white;
}

.assignment-container img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 75%;
    height: 25%;
    border: 1px solid white;
}

/* About Me page */

.about-heading {
    text-align: center;
    padding-bottom: 10%;
}

.about-primary-container {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 110vh;
}

.about-primary-container ul {
    list-style: none;
    text-align: center;
    padding: 0;
}

.about-primary-container img {
    width: 100px;
    height: 60px;
}

.about-primary-year {
    font-size: 2em;
    margin-bottom: 10px;
}

.about-primary-caption {
    margin-top: 5px;
    padding-left: 3px;
}


/* Resume page */

#resume-education {
    margin-top: 50%;
}

.resume-primary-container {
    display: grid;
    grid-template-columns: 200px 175px;
    place-items: center;
    align-items: center;
}

.resume-primary-container ul {
    list-style: none;
    padding-left: 5px;
}

.resume-primary-container p {
    margin: 0;
    padding: 0;
}

.resume-primary-container a {
    color: white;
}

.resume-secondary-container {
    display: grid;
    grid-template-columns: 1fr;
}

.resume-secondary-container ul {
    list-style: none;
    padding-left: 5px;
}

.resume-secondary-container p {
    margin: 0;
    padding: 0;
}

.resume-heading {
    margin: 0;
    padding-left: 5px;
    font-size: 2em;
    background-color: white;
    color: black;
}

.resume-sub-heading {
    text-decoration: underline;
    margin-bottom: 5px;
}

.list-item {
    list-style: disc;
    margin-left: 15px;
}

.wide-img {
    width: 150px;
    height: 100px;
}

.badge-img {
    width: 100px;
    height: 100px;
}

#ncl-cert {
    width: 150px;
    height: 100px;
}

@media screen and (min-width: 900px) {
    /* Navbar */
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    nav {
        display: flex;
        align-items: center;
    }

    nav ul {
        display: flex;
    }

    nav li {
        margin-left: 3em;
        margin-right: 2em;
        margin-bottom: 0;
    }

    #home-intro {
        width: 85%;
        flex-direction: row;
    }

    .primary-text {
        font-size: 1.2rem;
    }

    #home-text {
        padding: 100px;
        border-right: white solid 1px;
    }

    #home-logo {
        padding-left: 60px;
    }

    .class-container {
        margin-top: 5%;
    }

    .class-title {
        font-size: 4em;
    }

    .assignment-dropbtn {
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
    }

    .assignment-container ul {
        margin-left: 21px;
        margin-right: 21px;
    }

    /* Resume page */
    .resume-heading {
        margin: 0;
        font-size: 2.5em;
        padding-left: 0.5%;
        padding-top: 1%;
    }

    .resume-sub-heading {
        font-size: 2em;
    }

    #resume-education {
        margin-top: 2%;
    }

    .resume-primary-container {
        grid-template-columns: 50% 50%;
        align-items: center;
        padding-top: 1%;
        padding-left: 2%;
        margin-bottom: 2%;
    }

    .resume-primary-container ul {
        margin: 0;
        width: 100%;
    }

    .resume-secondary-container {
        margin: 0;
        padding-top: 1%;
        padding-left: 2%;
        margin-bottom: 2%;
    }

    .resume-secondary-container ul {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .wide-img {
        width: 250px;
        height: 100px;
    }

    .badge-img {
        width: 150px;
        height: 150px;
    }

    #ncl-cert {
        width: 300px;
        height: 200px;
    }

    .list-item {
        margin-left: 75px;
    }

    /* About page */

    .about-heading {
        font-size: 3em;
    }

    .about-primary-year {
        font-size: 3em;
        margin-bottom: 10px;
    }
    
    .about-primary-caption {
        margin-top: 5px;
        padding-left: 5px;
    }
    
}

.show {
    display: block;
}

.anim-slide {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1.5s;
}

.show-slide {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}